<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="OpenCart Suite" verbose="1">
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>
    <test name="OpenCartTests">
        <classes>
            <class name="tests.RegisterTest"/>
            <class name="tests.LoginWithExcelTest"/>
            <class name="tests.CartTest"/>
            <class name="tests.SearchAndAddTest"/>
            <class name="tests.CompraCompleteTest"/>
        </classes>
    </test>
</suite>
